*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    padding: 0px 300px 0px 300px;
    list-style: none;
    text-decoration: none;
    background-color: black;
}





.navbar ul {
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: ;
    overflow: hidden;
    background-color: #4b4a4a;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: black;
    background-color: yellow;
}







.img {
   margin-left: -100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.img img{
    width: 400px;
    height: 300px;
 
}